[submodule "packages/src/fetch_robot_simulation/src/fetch_gazebo"]
	path = packages/src/fetch_robot_simulation/src/fetch_gazebo
	url = https://github.com/ZebraDevs/fetch_gazebo.git
	branch = gazebo9
[submodule "packages/src/fetch_robot_simulation/src/fetch_ros"]
	path = packages/src/fetch_robot_simulation/src/fetch_ros
	url = https://github.com/ZebraDevs/fetch_ros.git
	branch = melodic-devel
[submodule "packages/src/dependency-packages/moveit_grasps"]
	path = packages/src/dependency-packages/moveit_grasps
	url = https://github.com/ros-planning/moveit_grasps.git
	branch = melodic-devel
[submodule "packages/src/dependency-packages/rviz_visual_tools"]
	path = packages/src/dependency-packages/rviz_visual_tools
	url = https://github.com/PickNikRobotics/rviz_visual_tools.git
[submodule "packages/src/dependency-packages/moveit_tutorials"]
	path = packages/src/dependency-packages/moveit_tutorials
	url = https://github.com/ros-planning/moveit_tutorials.git
	branch = melodic-devel
[submodule "packages/src/dependency-packages/panda_moveit_config"]
	path = packages/src/dependency-packages/panda_moveit_config
	url = https://github.com/ros-planning/panda_moveit_config.git
	branch = melodic-devel
[submodule "packages/src/dependency-packages/moveit_task_constructor"]
	path = packages/src/dependency-packages/moveit_task_constructor
	url = https://github.com/bostoncleek/moveit_task_constructor.git
	branch = pr-deep_grasp_stage
[submodule "packages/src/dependency-packages/deep_grasp_demo"]
	path = packages/src/dependency-packages/deep_grasp_demo
	url = https://github.com/bostoncleek/deep_grasp_demo.git
	branch = update_generators
[submodule "packages/src/dependency-packages/gpd_ros"]
	path = packages/src/dependency-packages/gpd_ros
	url = https://github.com/DARKMOONlite/gpd_ros.git
